<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ActWebView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
    </application>

    <queries>
        <package android:name="com.ipay.mobile"/>
    </queries>

</manifest>